@model Umbraco.Forms.Mvc.Models.FieldViewModel  
@using Umbraco.Forms.Mvc
  
@{ var i = 0; }
   
<div class="radiobuttonlist" id="@Model.Id">
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues) {
    <div class="custom-control custom-radio">
        <input type="radio" name="@Model.Id" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value" class="custom-control-input @Html.ValidationClass(Model.Id)"
               @if (Model.Mandatory) { <text> data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage" </text> }
               @if (Model.ContainsValue(pv.Value)) { <text> checked="checked" </text> } />
        <label for="@string.Concat(Model.Id,"_",i)" class="custom-control-label">@pv.Value</label>
    </div>    
    i++;
}
</div>